samples:
  # update your samples.txt file with the paths to R1 and R2
  'resources/config/samples.tsv'

units: 'resources/config/units.tsv'

binning: 'resources/config/binning.txt'

reads:
  - R1
  - R2

assemblers:
    - megahit
      #- metaspades

biobakery:
  - metaphlan

mappers:
    - minimap2
    #- bowtie2

binners:
  - concoct
  - metabat2
  - maxbin2

profilers:
  - kraken2
  - bracken

params:
  cutadapt:
    adapter: 'GATCGGAAGAGC'
    other: "--minimum-length 1 --nextseq-trim 20"
  multiqc: ''
  bowtie2:
    bt2_command: 'bowtie2'
    bt2b_command: 'bowtie2-build'
    extra: '--very-fast'
  sourmash:
    k: 31
    scaled: 1000
    extra: ''
  #### You'll need to change the db_path to {wherever_your_git_repo_is}/db/metaphlan3. We can tweak this later.
  metaphlan:
    db_path: "resources/db/metaphlan3"
    db_name: "mpa_v30_CHOCOPhlAn_201901"
    other: "--add_viruses --unknown_estimation" # This is sometimes "unclassified_estimation" instead, depending on the version. You'll probably have to change it to that.
  metaquast:
    reference_dir: "resources/db/metaquast/"
  minimap2:
    x: 'sr'
    k: 500000000
  prototypes:
    min_seqs: 50 # recommended: 10000000
    max_seqs: 100000000
    n: 12
  megahit:
    presets: 'meta' # Possible values: meta (default), meta-sensitive, meta-large, bulk (experimental), single-cell (experimental)
    extra: ''
  metabat2:
    extra: '--verbose'
    min_contig_length: 1500 # Minimum size of a contig for binning (should be >=1500).
  maxbin2:
    prob_threshold: 0.8
    extra: ''
    min_contig_length: 1500
  concoct:
    chunk_size: 10000
    overlap_size: 0
    min_contig_length: 1500
  das_tool:
    search_engine: 'diamond'
    score_threshold: 0.5    # Cutoff bin quality filter for DAS_Tool. Default is 0.5
  checkm:
    percent_completion_filter: 90
    percent_contam_filter: 5
  cat_pack:
    version: 'v6.0.1'
    db: 'nr'                # Can either be nr or gtdb
    block_size: 12.0        # Default = 12.0. Lower numbers will decrease memory and temporary disk space usage.
    index_chunks: 1         # Default = 1. Set to 4 on low memory machines. Has no effect on temporary disk space usage.
    contigs_r_param: 5      # r parameter [0-100] (default: 10)
    contigs_f_param: 0.50   # f parameter [0-0.99] (default: 0.50)
    bins_r_param: 1         # (default: 5)
    bins_f_param: 0.10      # (default: 0.30)

  acr:
    version: 'v0.2.0'
  microbeannotator:
    method: 'diamond'
  # ref_libs are individual Kraken2 reference libraries that can be specified by commenting/uncommenting desired libraries, 
  # and db_type specifies either a protein or nucleotide database.
  # (Note that downloading nr requires use of the --protein option, and that nt, UniVec, and UniVec_Core are incompatible with the --protein option.)
  # Kraken2 docs: https://github.com/DerrickWood/kraken2/blob/master/docs/MANUAL.markdown
  # If viral reads are of interest, it is recommended to construct a protein database
  # (source) https://genomebiology.biomedcentral.com/articles/10.1186/s13059-019-1891-0
  # TODO: Remove kraken2 and bracken db paths here and make sure they work from the section below
  kraken2:
    ref_libs: 
        #- standard
      - archaea
        #- bacteria
        #- plasmid
      - viral
        #- human
        #- fungi
        #- protozoa
      - UniVec_Core
        #- plant
        #- nr
        #- nt
        #- UniVec
    # Make this a yaml list like ref_libs, add extra params
    levels: "R,D,P,C,O,F,G,S"
    db_type: "nucleotide"   # Can be either "nucleotide" or "protein"; specifies which type of kraken2 db to build
  bracken:
    kmer_len: 35  # Length of kmer used to build the bracken database [default: 35]; Note: Kraken 1 uses k=31 by default while Kraken 2 uses k=35. 
    read_len: 100 # Ideal length of reads in your sample [default: 100]

threads:
  fastqc: 1
  cutadapt_pe: 4
  host_filter: 8
  spades: 8
  metaquast: 8
  megahit: 16
  build_db: 16  # While parallel jobs are possible by reducing # of threads here, this increases the risk of using too much memory
  kraken2: 16  # Uses the max amount of available threads to avoid loading multiple database instances into memory. --Memory-mapping is too slow for large databases
  metaphlan: 8
  bowtie2_build: 8
  map_reads: 8
  sort_bam: 8
  minimap2_index: 8
  minimap2_map_reads: 8
  concoct: 8
  run_metabat2: 8
  run_maxbin2: 8
  run_concoct: 8
  run_DAS_Tool: 8
  run_checkm: 8
  run_checkm2: 8
  cat_pack: 16
  microbeannotator: 8
  gtdbtk: 16
  dram: 16

mem_mb:
  spades: 256000
  megahit: 256000

# Helpful page giving the NCBI taxonomies for parasitic worms: https://github.com/fbreitwieser/krakenuniq/blob/cdfabbe3f8d7e5dd09a97101d1738394fd9756ae/scripts/krakenuniq-download#L911

#### The genome is the NCBI genome assembly for the common marmoset. This was added by me.
# genome should be changed to accn, since genome (they way they're using it) is the full
# full file path. Make the option for multiple accession numbers so reads mapping to any
# accession number can be removed.
#

# Paths for various tools that the user can specify here. Directories that don't exist will be created
# and databases that don't exist will be built.
user_paths:
  genome_db_path: "resources/db/genomes/genome_fastas"
  host_build_path: "resources/db/genomes/genome_builds"
  kraken2_db_path: "resources/db/kraken2"  # Given space requirements, you can use this path instead of your own
  bracken_build_path: "resources/db/bracken" 
  metaphlan_db_path: "resources/db/metaphlan3"
  metaquast_reference_dir: "resources/db/metaquast"
  checkm_db_path: "resources/db/checkm"
  checkm2_db_path: "resources/db/checkm2"
  gtdbtk_db_path: "/work/claytonlab/jhernandez/projects/nih_k01_pilot_aim1/full_shotgun_analysis/db/gtdb"
  cat_pack_clone_path: "resources/repositories/CAT_pack"
  cat_pack_db_path: "/work/claytonlab/jhernandez/projects/nih_k01_pilot_aim1/full_shotgun_analysis/db/cat_pack"
  acr_clone_path: "resources/repositories/acr"
  acr_db_path: "resources/repositories/acr"
  microbeannotator_db_path: "/work/claytonlab/jhernandez/projects/nih_k01_pilot_aim1/full_shotgun_analysis/db/microbeannotator_test"
  dram_db_path: "/work/claytonlab/jhernandez/projects/nih_k01_pilot_aim1/full_shotgun_analysis/db/dram2"
  kegg_genes_db_path: "/mnt/nrdstor/claytonlab/jhernandez/projects/metaGnosis/resources/db/kegg/kegg.pep"
  kegg_genes_link_path: "/mnt/nrdstor/claytonlab/jhernandez/projects/metaGnosis/resources/db/kegg/genes_ko.list"
  #acr_db_path: "/work/claytonlab/jhernandez/projects/nih_k01_pilot_aim1/full_shotgun_analysis/db/acr"
  #cat_pack_db_path: "resources/db/cat_pack"

# Genomes to add to the pipeline. Genomes not found at the genome_db_path will be automatically downloaded there.
# Passing NCBI taxids at the genus level and above will fetch all known species under said taxid (i.e., recursive fetch).
# All fetched genomes will be added to the Kraken2 database directory given above if Kraken2 is enabled. Adding de novo genomes that aren't
# on NCBI is currently unsupported, though modifications to accomodate this can be made in future updates.
# In the meantime, feel free to prepare kraken2-readable sequences yourself.
add_genomes:
    genome_accessions: "GCA_011100555.2,GCA_036323735.1"
    #genome_taxids: '6199'
  # More wormies
  #6199,6178,37945,10232,6231"

# This only works with one host genome at a time. 
# The host genome fasta should be found as long as it is in the genome_db_path specified above and begins with
# its correct NCBI GenBank Accession number. It can be automatically downloaded with "add_genomes" above.
#host_filter_accn: 
host_filter_accn: "GCA_011100555.2"

#host_filter:
  # Change to bt2_db_dir
  #  db_dir: "resources/db/bt2"
  #accn: "GCA_011100555.2"
  #  genome: resources/db/bt2/GCA_000819615.1.fna # PhiX for test purposes
  # NCBI GenBank Accession number for the host genome assembly.
  # This will be automatically downloaded and indexed in the location
  # {db_dir}/{accn}.
  # Some Useful Accession Numbers:
  # Latest builds as of 12-July-2021
  # Genome Reference Consortium Human Build 38 patch release 13 (GRCh38.p13)
  # accn: GCA_000001405.28
  # Genome Reference Consortium Mouse Build 39
  # accn: GCA_000001635.9
  # Setophaga coronata coronata (myrtle warbler) (mywa_2.1) - Cornell University
  # accn: GCA_001746935.2
  # E coli
  # accn: GCA_000005845.2
